.container {
    display: grid;
    grid-template-rows: 0.2fr 0.5fr 0.4fr 1.2fr 0.6fr 0.6fr 0.5fr 0.05fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "nav nav nav nav"
        "about about about about"
        "education education education education "
        "project project project project"
        "skills skills skills skills"
        "experience experience experience experience"
        "blog blog blog blog "
        "footer footer footer footer"
    ;
    overflow-x: hidden !important;
}

nav a {
    color: #ffffff;
}

.topnav .icon {
    display: none;
}

nav {
    overflow: hidden;
    grid-area: nav;
    justify-content: space-between;
    display: flex;
    background-color: #189AB4;
    color: #ffffff;
}

.header1-block {
    grid-area: header1-block;
}

.header1-links {
    grid-area: header1-links;

}

#title img {
    height: 50px;
    width: 50px;
}

nav img {
    height: 50px;
    width: 50px;
}

#menu_links ul li {
    padding: 10px;
}

#menu_links ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#about {
    grid-area: about;
    display: flex;
    padding: 20px;
    background-color: #189AB4;
}

#about img {
    border-radius: 15px;
}

#about-content2 {
    margin-left: 20px;
}

#education {
    grid-area: education;
}

#education h2 {
    text-align: center;
    color: #05445E;
}

.school {
    margin: auto;
    width: 70%;
    border: 1px solid black;
    margin-top: 10px;
    padding: 5px;
    background-color: #F8F6F6;
}

.school h3 {
    display: inline-block;
}

.school .grade {
    float: right;
}

#project {
    grid-area: project;
    background-color: #f2f1f1;
    text-align: center;

}

#project button {

    padding: 15px;
    background-color: transparent;
    border-color: #179AB4 !important;

    border-radius: 10px;
}

#project button:hover {
    background-color: #179AB4;
}

#project h2 {
    color: #05445E;
    text-align: center;
}

#project .details {
    display: flex;
    justify-content: center;
}

#project .card {
    margin-left: 20px;
    height: 40%;
    width: 40%;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #F8F6F6;

}

#project .card-body {
    background-color: #F8F6F6;

}

#project .card img {
    height: 100%;
    width: 100%;
}

#project .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#project .card-body {
    padding: 2px 16px;
}

#skills {
    grid-area: skills;

}

#skills .detail {
    display: flex;
}

#skills #right img {
    margin-left: 30% !important;
}

#skills #left {

    width: 49%;
}


#skills h2 {
    color: #05445E;
    text-align: center;
}

#skills h3 {
    display: inline-block;
    margin-left: 30px;
}

#skills span {
    text-align: center;
    width: 20%;
    border: 1px solid #179AB4;
    border-radius: 30px;
    display: inline-block;
    padding: 7px;
}

#skills span:hover {
    background-color: #179AB4;
    color: #ffffff;
}

#experience {
    grid-area: experience;
}

#exp-detail {
    display: flex;
    justify-content: space-between;
}

/* exp */
#experience {
    background-color: #F2F1F1;
}

#experience h2 {
    text-align: center;
    padding-top: 20px;
    color: #05445E;

}

.exp-content {
    margin-top: 15px;
    width: auto;
    margin-left: 20%;


}

.exp-content .card {
    border: 1px solid black;
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#experience img {
    padding-left: 20px;
    width: 500px;
    height: 500px;
    border-radius: 15px;
}

.card-header h3 {
    padding: 10px;
}

.card-body p {
    padding: 10px;
}

.card-header h3 {
    display: inline-block;
}

.card-header #year {
    float: right;

}

.exp-content .card-header {
    background-color: #179AB4;
}

.exp-content .card {
    margin-right: 10px;
    background-color: #F8F6F6;
}

#blog {
    grid-area: blog;
    text-align: center;
}

#blog .content {
    display: flex;
    justify-content: center;
}

#blog h2 {
    color: #05445E;

}

#blog .card {

    width: 40%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #F8F6F6;
    margin: 10px;
}

footer {
    grid-area: footer;
}

.footer-details {
    display: flex;
    justify-content: space-between;
}

footer {
    padding: 10px;
    background-color: #179AB4;
    color: #ffffff;
}


footer #links {
    float: right;
}



.social {
    width: 50px;
    height: 50px;
}

button {
    width: 40%;
    padding: 10px;
    border: 1px solid 1166B1;
    color: #1166B1;
    background-color: #ffffff
}

button:hover {
    color: #ffffff;
    background-color: #1166B1;
    transition: 0.2s;
    border-color: #ffffff;

}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.contact-details span {
    margin-left: 10px;
}

nav {
    background-color: #179AB4;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.2s ease;
}

nav .mainMenu li a:hover {
    background-color: #045D6E;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.email1 {
    display: flex;
}

.email1 p {
    margin-left: 5px;
}

.phone1 {
    display: flex;
}

nav .logo {
    margin: 6px;
    cursor: pointer;
    text-transform: uppercase;
}

@media only screen and (max-width:500px) {
    .container {
        grid-template-rows: 0.08fr 0.1fr 0.2fr 0.3fr 0.6fr 1fr 0.6fr 0.4fr 0.05fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "about"
            "about"
            "education"
            "project"
            "skills"
            "experience"
            "blog"
            "footer"
        ;
        overflow-x: hidden;
    }

    #about {
        flex-direction: column;
    }

    #about img {
        height: 200px;
        width: 300px;
    }

    #education .school {

        width: 85%;
        height: 30%;
    }

    .school h3 {
        display: inline;
    }

    #project .details {
        flex-direction: column;
    }

    #project .card {
        margin: auto;
        height: 40%;
        width: 80%;
        margin-top: 20px;


    }

    #skills .detail #left {
        margin-left: 20%;
        text-align: center;
        justify-content: center;
    }

    #skills .detail {

        flex-direction: column;
    }

    #skills #right {
        text-align: center;
    }

    #skills #right img {

        height: 300px;
        width: 200px;
        margin-left: 0px !important;
    }

    #skills span {
        margin-bottom: 5px;
        width: 100px;
        margin-left: 30px;
        padding: 20px;
        display: flex;
    }

    #exp-detail {
        flex-direction: column;
    }

    #exp-image {
        text-align: center;
    }

    #experience img {

        width: 300px;
        height: 300px;
        border-radius: 15px;
    }

    .exp-content {

        margin-left: 0px;
    }

    .exp-content .card {
        margin: auto;
        width: 80%;
    }

    .exp-right {
        justify-content: center;
    }

    .exp-content .card-header {
        height: 40%;
    }

    .card-header h3 {
        display: flex;
    }

    .card-header #year {
        float: none;
    }

    #blog .content {
        flex-direction: column;
    }

    #blog .content .card {
        margin: auto;
        margin-bottom: 20px;
        width: 80%;
    }

    .content h3 {
        text-align: center;
    }

    footer .footer-details {
        text-align: center;
        flex-direction: column;
    }

    .contact-details {
        margin-bottom: 10px;

    }


    input {
        width: 80%;
    }

    .email1 {
        margin-left: 15%;
        display: flex;
    }

    .email1 img {
        height: 50px;
        width: 50px;
    }

    .phone1 img {
        height: 50px;
        width: 30px;
    }

    .email1 p {
        padding: 5px;
    }

    .phone1 {
        margin-left: 15%;

        display: flex;

    }

    .phone1 p {
        padding: 5px;
    }

    .footer-details .content {
        margin-top: 30px;
    }

    #skills #right img {
        margin-bottom: 80px;
    }

    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(0, 0, 0);
        transition: top 1s ease 0s;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }
}